.RideNavbar{
    display: flex;
    justify-content: space-between;
}
.Tabbar{
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}
.Tabbar > *{
    margin: 30px;
    cursor: pointer;
}
.filterBar{
    margin: 20px;
}
.active{
    border-bottom: 2px solid #fff;
}