.Home{
  background-color: #262626;
  height: 100vh;
  color: #fff;
  overflow: hidden ;
}
.container{
  overflow: scroll;
  height:  500px;
  -ms-overflow-style: none;
  scrollbar-width: none;  
}
.container::-webkit-scrollbar{
  display: none;
}